* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

:root {
  --fav-color: #000;
  --accent-color: rgb(36, 46, 66);
}

body {
  background: white;
  color: var(--fav-color);
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 700px;
}

.legend-heading {
  color: rgb(156, 156, 156);
  text-transform: uppercase;
  font-weight: bold;
  padding: 6px;
}

.card {
  transform-style: preserve-3d;
  position: absolute;
  width: 50ch;
  height: 92%;
  background-color: white;
  background-position: top right;
  background-size: 500%;
  display: flex;
  box-shadow: 0 0 15px grey;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  transition: background 0.2s, transform 0.5s linear;
  overflow: hidden;
}

.logo {
  width: 20%;
  margin: 10px;
}

.card h1 {
  padding: 30px 0 0 0;
  color: var(--fav-color);
  font-weight: bolder;
}

.card h3 {
  color: grey;
  font-weight: lighter;
  margin: 20px;
}

.single-line {
  display: inline;
  flex-direction: column;

  width: 80%;
}

.card .submit {
  color: var(--fav-color);

  font-size: 18px;
  text-decoration: none;
  border: none;
  padding: 9px;
  transition: 0.2s 0s background, 0.3s 0.1s color;
  background-color: var(--accent-color);
  color: white;
  border-radius: 8px;
  padding: 15px 0;
  margin: 17px;
  box-shadow: 0 0 20px rgba(153, 153, 153, 0.424);
}

.createAccount {
  transition: transform 2s, background 0.2s;
  transform: rotateY(90deg);
  position: absolute;
  display: none;
}

@keyframes animate {
  0% {
    transform: rotateY(270deg);
  }
 50% {
    transform: rotateY(320deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}

::placeholder {
  color: rgba(134, 134, 134, 0.609);
  font-size: 16px;
}

.card input {
  width: 80%;
  border-radius: 8px;
  padding: 1ch 0;
}

.single-line input {
  width: 100%;
  border: rgba(167, 167, 167, 0.582) 1px solid;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 0 20px rgba(153, 153, 153, 0.246);
  font-size: 1.14em;
}

.sign-up {
  margin: auto;
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: var(--accent-color);
  cursor: pointer;
}

input:focus {
  border: var(--accent-color) 3px solid;
  outline: none;
}
