{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group Chat-Join Meeting</title>
</head>
<link rel="stylesheet" href="{% static "/css/style.css" %}">
<body>
 <div class="card" id="card" style="height: 70%">
      <h1>Join Group Chat</h1>
  <h3>Enter your Meeting Password below</h3>
      <br />
        <form action="/validate" method="post" >
            {% csrf_token %}
        <input type="text" name="id" hidden value="{{ meetingid }}" id="name" placeholder="Meeting Id" />

            <div class="single-line">
        <p class="legend-heading" for="name">Meeting Password</p>
        <input type="text" name="password"  id="name" placeholder="Meeting Password" />
      </div>

        <input
          type="text"
          name="name"
          hidden
          id="password"
          value="{{ name }}"
          placeholder="Name"
        />

      <input
        type="submit"
        value="Join"
        class="submit"
      />
            </form>
            {% ifnotequal msg "" %}
        <div>
                <h4 style="color:red">{{ msg }}</h4>
        </div>
            {% endifnotequal %}
    </div>

</body>
</html>