<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/allmeetings.css" rel="stylesheet" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Group Chat-Meeting List</title>
</head>
<body>
<div class="main-body">
    <div class="heading">
        MyRoom's
    </div>
    <table   class="table table-striped mytable">
        <tr>
            <td>
                Meeting Id
            </td>
            <td>
                Topic
            </td>
            <td>
                Meeting Start
            </td>
            <td>
                Meeting End
            </td>
            <td>
                Action
            </td>
        </tr>
        {% for meeting in meetings %}
            <tr>
            <td>
               <a href="/roomdetails/?id={{ meeting.id }}"> {{ meeting.id }}</a>
            </td>
            <td>
                {{ meeting.name }}
            </td>
            <td>
                {{ meeting.date_start }}
            </td>
            <td>
                {{ meeting.date_end }}
            </td>
            <td>
                <a href="/deletemeeting/?id={{ meeting.id }}">Delete</a>
                <a href="/updatemeeting/{{ meeting.id }}">Update</a>
            </td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>